<!-- /snippets/best-sellers.liquid -->
{% comment %}

Shows 'best sellers' section in sidebar on all pages, below collections menu

{% endcomment %}

<h2>
    <span class="word2">
        BEST SELLERS
    </span>
</h2>

{% assign image_size = 'large' %}

{% if linklists.best-sellers.links.size > 0 %}

<!--     <div>
 -->
        {% for link in linklists.best-sellers.links %}

            {% assign product = link.object %}

                    {% assign grid_item_width = 'large--one-whole' %}
                    {% include 'product-grid-item-menu' %}

        {% endfor %}

    <!-- </div> -->

{% endif %}