<!-- /snippets/collections-menu.liquid -->
{% comment %}

  Side nav that shows up on all page on the left hand side and lists the collections as a menu

{% endcomment %}

{% comment %}
  List of the Collections
{% endcomment %}

<ul class="grey sidebar-links">

  {% for link in linklists.side-menu-collections.links %}
      {% assign collection = link.object %}

    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

        <li>
            <a href="{{ collection.url }}" title="{{ 'collections.link_title' | t: title: collection_title }}">{{ collection_title }}</a>
        </li>

  {% endfor %}

</ul>



